
/* //省略号 */
.wot {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
	overflow: hidden;
}
.meiyou {
	display: inline-block;
	width: 100%;
	height: 500rpx;
	line-height: 500rpx;
	text-align: center;
	font-size: 30rpx;
	color: #666;
}



/* 两边对齐 */
.ffbb {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*多个垂直上下左右居中 */
.ffcc {
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: center;
}


/*多个垂直左右居中 */
.ffjj {
	display:flex;
	flex-direction: column;
	align-items:center;
}

/*一行 */
.ffqq {
	display: flex;
}

/*靠右垂直居中 */
.ffff {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

/* 均匀对齐 */
.ffdd {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/* 一个垂直居中 */
.ffaa {
	display: flex;
	align-items: center;
	justify-content: center;
}

.fftt {
	display: flex;
	align-items: center;
}